* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  flex-direction: row;
  margin: 50px;
  background-image: url('https://mir-s3-cdn-cf.behance.net/projects/404/b376ac56329229.Y3JvcCw5NjUsNzU1LDM0Nyww.jpg');
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

.startScreen, .gameOverScreen {
  display: flex;
  flex-direction: row;
  border: 1px solid  rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 30px 50px;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.dragonBallStartPage {
  height: 200px;
}

/* .buttonBallContainer {
  display: flex;
  flex-direction: row;
} */

.sideBar {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 600px;
  margin: 50px;
}

.mrMeeseeksSpeachBox {
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 250px;
}

.mrMeeseeks {
  height: 200px;
  margin: 20px;
}

.slug {
  height: 300px;
  margin: 20px;
}

#scoreCounter {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

#livesCounter {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

#timeCounter {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

#reset {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

/* .gameOverScreen {
  display: flex;
  flex-direction: row;
  border: 1px solid  rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  line-height: 200px;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
} */

#startButton, #viewLeaderboard {
  align-self: center;
  align-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 250px;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgba(20, 20, 20, 0.8);
}

.morty {
  background-image: url(images/morty.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dragonBalls {
  background-image: url(images/dragonBall2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carRight {
  background-image: url(images/slugRight.png);
  /* transform: rotate(90deg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carLeft {
  background-image: url(images/slugLeft.png);
  /* transform: rotate(270deg); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




