* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid;
}

.morty {
  background-image: url('https://www.pngitem.com/pimgs/m/43-438710_morty-png-rickandmorty-scaredmorty1500-scared-morty-png-transparent.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}